<body>
	<div class="container">
		<div class="row">
			<h2>User info</h2>
			<%= form_for(@user) do |f| %>
				<div class="field">
					<%= f.label :name, "Name" %>
					<div class="field-error">
						<%= f.text_field :name %>
				</div>

				<div class="field">
					<div clas="field-error">
					</div>
				</div>

				<div class="field">
					<%= f.submit "Update User" %>
				</div>
			<% end %>
		</div>
	</div>
</body>
